.main_box{
    margin: 50px;
}

@media screen and (max-width: 800px){
    .main_box{

        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 0px;
        margin-right: 0px;
    }
}