.navbar {
  position: relative;
  width: auto;
  min-height: 70px;
  background: #ffffff;
  border-bottom: 1px solid rgb(232, 231, 231);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rotate_expand {
  transform: rotate(180deg);
  cursor: pointer;
  margin: 0 10px;
}

/* input group css  */
.input_box {
  position: relative;
}

.input_box input {
  padding-right: 30px;
  width: 417px;
  height: 44px;
  background: #f5f5f5;
  border-radius: 6px;
  outline: none;
  padding: 0px 50px;
}

.input_box input::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #787486;
}

.input_box::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  background: url('../../public/searchicon.svg') no-repeat;
  background-size: cover;
}

/* calender nortification and ask css  */
.calender_ask_group {
  display: flex;
  padding-right: 30px;
}

.calender_ask_group img {
  margin: 0 10px;
  cursor: pointer;
}

/* profile group css  */
.profile_group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}


.profile_group div{
  margin: 0 7px;
}


.name_address {
  display: flex;
  flex-direction: column;
}

.profile_name {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #0d062d;
}

.profile_address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #787486;
}

.profile_image {
  display: flex;
  flex-direction: row;
}

.profile_logo {
  width: 40px;
  height: 40px;
  background: url('../../public/men.jpg') no-repeat;
  background-size: cover;
  border-radius: 50%;
}

@media screen and (max-width: 800px) {
  .navbar {
    flex-wrap: wrap; 
    padding: 10px; 
    height: auto; 
  }

  .navbar div{
    margin: 10px 0;
  }

  .input_box input{
    width: 300px;
    margin-left: 5px;
  }

  .profile_group a{
    margin-left: 10px;
  }

  .profile_name{
    font-size: 12px;
  }

  .profile_address{
font-size: 10px;
  }

  .profile_logo{
    width: 30px;
    height: 30px;
  }


}
